*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  font-size: 1.3rem;
  width: 99vw;
  height: 90vh;
  background-color: #edf2f8;
}

main {
  margin: 2rem 10rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(12, minmax(6rem, 1fr));
  grid-template-rows: repeat(2, min-content);
}

article {
  padding: 4rem;
  margin: 1.75rem;
  box-shadow: 3px 10px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.content .header {
  display: flex;
}

.content .header .header__image img {
  border-radius: 50%;
  box-sizing: content-box;
  margin-right: 2rem;
}

.content .header .header__content h1 {
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 1);
}

.content .header .header__content small {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
}
.content__strong {
  font-size: 2.5rem;
  margin: 2rem 0rem;
}
.content__paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.3;
}

.article-1 {
  background-color: hsl(263, 55%, 52%);
  grid-column: 1 / 6;
  grid-row: 1 / 1;
}

.article-2 {
  background-color: hsl(217, 19%, 35%);
  grid-column: 6 / 9;
  grid-row: 1 / 1;
}

.article-3 {
  background-color: hsl(0, 0%, 100%);
  grid-column: 1 / 4;
  grid-row: 2 / 2;
}

.article-4 {
  background-color: hsl(219, 29%, 14%);
  grid-column: 4 / 9;
  grid-row: 2 / 2;
}

.article-5 {
  background-color: hsl(0, 0%, 100%);
  grid-column: 9 / 12;
  grid-row: 1 /-1;
}

.article-1 .content__strong,
.article-2 .content__strong,
.article-4 .content__strong {
  color: rgba(255, 255, 255, 1);
}

.article-3 .content__strong,
.article-5 .content__strong,
.article-3 .content .header .header__content h1,
.article-5 .content .header .header__content h1 {
  color: hsl(219, 29%, 14%);
}
.article-3 .content .header .header__content small,
.article-5 .content .header .header__content small {
  color: #cfcfcf;
}

.article-3 .content__paragraph,
.article-5 .content__paragraph {
  color: #b8b8b8;
}

.attribution {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1250px) {
  main {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  main {
    margin: 1rem 2rem;
  }
  article {
    margin: 0rem;

    width: 100%;
  }
}
